<h2>All Users</h2>

<div *ngFor="let user1 of users">

  <h3>
    <a [title]="user1.username + ' details'">
      {{ user1.name }}
    </a>
  </h3>

  <p *ngIf="user1.email">
    Contact: {{ user1.email }} <br>
    Phone: {{user1.phone}}
  </p>

  
  <p *ngIf="user1.website">
    <strong> Address: </strong>: <br>{{user1.address.street}},<br>{{user1.address.suite}},<br>{{user1.address.city}},<br>{{user1.address.zipcode}} <br>
    Website: {{ user1.website }}
  </p>

  <button (click)="share()">
      Share
  </button>

</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->